link(rel='stylesheet', href='/static/stylesheets/footer.css')

footer.text-center.mt-3.text-light.py-3.insides(role='contentinfo')
    a.link-light(href='http://mlh.io/code-of-conduct') MLH Code of Conduct
    | &nbsp|&nbsp
    a.link-light(href='https://ycphacks.io/YCP_HACKS_SPONOSRSHIP_BROCHURE_2022_FINAL_FILE.pdf') Sponsor Us
    | &nbsp|&nbsp
    a.link-light(href='info@ycphacks.io') Contact Us
    br
    a.fa.fa-twitter(href="https://twitter.com/YCPHacks" aria-label="Twitter" tabindex='-1')

    p Made with love by the YCPHacks Team&nbsp
        i.fa-regular.fa-heart