html
    head
        include includes/dashboardBar

        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')

    body

        h1.m-2 Available Hardware
            .d-flex.justify-content-around
                a.btn.btn-secondary.m-1(href='/dashboard/hardware_items')
                    | Back to all

        - var x = 0;
            .container-sm.overflow-x-scroll.mt-3.p-3
                         table.table.table-striped.table-bordered.my-4
                             thead
                                 tr
                                     th Hardware Name
                                     th Count Available
                             tbody
                                 each item of available
                                     - x++
                                     tr
                                         each column of item
                                             td= column