extends includes/dashboard_bar


block main

    if(userRoles.includes('Organizer'))
        .display-5.m-2 Home
        .outside.bd-example.bd-example-cols.m-3
            .container.text-center
                .row.row-cols-sm-2.row-cols-md-4.g-4.g-lg-4

                    mixin badges(title)
                        .col.text-decoration-none
                            .p-3= title
                                span.badge.text-bg-secondary.m-1 0

                    +badges('Total Applicants')
                    +badges('RSVP&apos;d')
                    +badges('Hardware Checkouts')
                    +badges('Mentorship Requests')
                    +badges('Listed Events')
                    +badges('Listed Prizes')
                    +badges('Hardware Items')
                    +badges('Listed Projects')

        .row.row-cols-1.row-cols-md-1.g-4.text-center.m-3
            .col
                .card
                    .card-body
                        .display-6.card-title Upcoming Events
                        p.card-text
                            table.table
                                thead
                                    tr
                                        th(scope='col') Event
                                        th(scope='col') Time
                                tbody
                                    tr
                                        td Event
                                        td 10:00
                                    tr
                                        td Event 1
                                        td 12:00
                        a.btn.btn-secondary(href='#') View All
            //.col
            //    .card
            //        .card-body
            //            h5.card-title Card title
            //            p.card-text
            //                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            //            a.btn.btn-primary(href='#') Go somewhere
            //.col
            //    .card
            //        .card-body
            //            h5.card-title Card title
            //            p.card-text
            //                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            //            a.btn.btn-primary(href='#') Go somewhere

    else if (userRoles.includes('Attendee'))
        .display-5.m-2 Home
        .row.row-cols-1.row-cols-md-3.g-0.m-3.text-center
            .col
                .card.m-1
                    .card-body
                        .display-6.card-title Check In
                        hr
                        p.card-text
                            | QR Code
                        a.btn.btn-primary(href='') Go somewhere
            .col
                .card.m-1
                    .card-body
                        .display-6.card-title Upcoming Events
                        hr
                        p.card-text
                            table.table
                                thead
                                    tr
                                        th(scope='col') Event
                                        th(scope='col') Time
                                tbody
                                    tr
                                        td Event
                                        td 10:00
                                    tr
                                        td Event 1
                                        td 12:00
                        a.btn.btn-secondary(href='') View All
            .col
                .card.m-1
                    .card-body
                        .display-6.card-title Discord Channel
                        hr
                        p.card-text
                            //| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        a.btn.btn-primary(href='') Go to Discord Channel
