html
    head
        include includes/dashboard_bar

        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')



    body

        h1.m-2 Event Applications Summary

        .container-sm.overflow-x-scroll.mt-3.p-3
            table.table.table-striped.table-bordered.my-4
                thead
                    tr
                        th(scope='col') Food Restrictions
                        th(scope='col') Count
                    tbody
                        each item of food
                            - x++
                            tr
                                each value of item
                                    td=value

            table.table.table-striped.table-bordered.my-4
                thead
                    tr
                        th(scope='col') School
                        th(scope='col') Count
                    tbody
                        each item of school
                            - x++
                            tr
                                each value of item
                                    td=value
            table.table.table-striped.table-bordered.my-4
                thead
                    tr
                        th(scope='col') T-shirt Size
                        th(scope='col') Count
                    tbody
                        each item of tshirt
                            - x++
                            tr
                                each value of item
                                    td=value