extends includes/dashboard_bar

block main

    h1.m-2 Event Applications Summary

    .container-sm.overflow-x-scroll.mt-3.p-3

        table.table.table-striped.table-bordered.my-4
            thead
                tr
                    th(scope='col') Food Restrictions
                    th(scope='col') Count
                tbody
                    td
                    td
            thead
                tr
                    th(scope='col') School
                    th(scope='col') Count
                tbody
                    td
                    td
            thead
                tr
                    th(scope='col') T-shirt Size
                    th(scope='col') Count
                tbody
                    td
                    td
