html
    head
        include includes/dashboard_bar

        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')


    body

        h1.m-2 Event Applications
            .container-md.text-center.p-2.border

                //button.btn All
                //    span.badge.text-bg-secondary.m-1= county.length

                // each item of county
                //
                //     button.btn(type='button')= item.status
                //
                //         if (item.status === "accepted")
                //             span.badge.text-bg-primary.m-1= item.count
                //
                //         else if (item.status === 'undecided')
                //             span.badge.text-bg-warning.m-1= item.count
                //
                //         else if (item.status === 'declined')
                //             span.badge.text-danger-emphasis.m-1= item.count

                a(href='/dashboard/event_applications/event_applications_summary').btn.btn-primary Summary

            .container-md.text-center.p-2.my-3.border

                form.d-flex(role='search')
                    input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.mx-1(type='submit') Search
                    button.btn.btn-outline-success.mx-1(type='submit') Download CSV

            - var x = 0;
            .container-sm.overflow-x-scroll.mt-3.p-3
                table.table.table-striped.table-bordered.my-4
                    thead
                        tr
                            th user id
                            th created at
                            th updated at
                            th status
                            th age
                            th country
                            th school
                            th education level
                            th underrepresented group
                            th gender
                            th race
                            th sexual orientation
                            th major
                            th t-shirt size
                            th food restrictions
                    tbody
                        // each item of application
                        //     - x++
                        //     tr
                        //         each column of item
                        //             td= column


