extends includes/dashboard_bar

block main
    .container-lg.text-center.p-4.border

        .d-flex.align-items-center.justify-content-center
            h2.px-2 Application Status
            // TODO: dynamically load badges
            if (event_application[0][3] === 'accepted')
                span.badge.text-bg-success Accepted
            else if (event_application[0][3]  === 'undecided')
                span.badge.text-bg-secondary Undecided
        hr

        mixin application(label)

                .row.mb-3
                    label.col-sm-2.col-form-label(for!=attributes.for)= label
                    .col-sm-6
                        input.form-control(type='text', readonly, id!=attributes.id value!=attributes.value)
        form#editing
            //+application('Name')(value=event_application.name, for="name", id="name")
            +application('Age')(value= event_application[0][4], for="age", id="age")
            +application('Country')(value= event_application[0][5], for="country", id="country")
            +application('Major')(value= event_application[0][7], for="major", id="major")


        .d-flex.justify-content-end
            // TODO: add query params
            if (event_application[0][3]  === 'accepted')
                button.mx-1.btn.btn-success.disabled Accept
            button.mx-1.btn.btn-danger Deny
            button.mx-1.btn.btn-warning Waitlist
            button.mx-1.btn.btn-secondary Flag
            button.mx-1.btn.btn-info(onclick=`edit()`) Edit
            button#update.mx-1.btn.btn-success(disabled) Update/Save

    .container-md.text-center.p-4.border
        h2 Resume
        hr


