extends layout/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/gallery.css')

block main

    h1.ycpHeader.my-3.display-4.insides Image Gallery
    .d-flex.justify-content-center
        .container.m-0
            .row.m-0
                .col-md-6
                    img.img.m-3(src='/static/images/TeamFocused.png', alt='hacks_four')
                .col-md-6
                    img.img.m-3(src='/static/images/Presentation.png', alt='hacks_five')
            .row.m-0
                .col-md-4
                    img.img.m-3(src='/static/images/Drone.png', alt='hacks_six')
                .col-md-4
                    img.img.m-3(src='/static/images/Hardware.png', alt='hacks_one')
                .col-md-4
                    img.img.m-3(src='/static/images/pic1.png', alt='hacks_two')
            .row.m-0
                .col-md-4
                    img.img.m-3(src='/static/images/TylerEating.png', alt='hacks_two')
                .col-md-4
                    img.img.m-3(src='/static/images/NerfWinners.png', alt='hacks_two')
