extends layout/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/judging_criteria.css')

block main
    .row.m-0
        .col-md-6
            h1.d-flex.justify-content-center.ycpHeader.p-3 Judging Criteria
            hr
            .d-flex.justify-content-around.flex-column.text-center.backgroundBlend
                //p Engineering skills, demonstrated quality code, etc.
                .hacks Design
                p Attention to aesthetics, interaction, and UI
                .hacks Potential
                p Potential for growth or monetization
                .hacks Presentation
                p Clarity of written and oral presentation
                .hacks Inspiration
                p How excited are you about this idea?
        .col-md-6
            h1.d-flex.justify-content-center.ycpHeader.p-3 Hack Categories
            hr
            .d-flex.justify-content-around.flex-column.text-center.backgroundBlend
                .display-6.hacks Best of show
                .display-6.hacks YCP Hack
                .display-6.hacks Gaming Hack
                .display-6.hacks Hardware Hack
                .display-6.hacks First Hack
                .display-6.hacks Hackers Choice
                .display-6.hacks Google Cloud
        .col-12
            h1.ycpHeader Sponsored Hacks
                hr
            .d-flex.justify-content-center.text-center
                .sponsored
                    h2.hacks
                        u Google Cloud Hack
                    p
                    | Create a hack using any Google Cloud service in order to be entered into the Google Hack category.
                    hr
                    h2.hacks YCP Hacks 2022: The Schneider Prize for Technology Innovation
                    hr
                    h2.hacks Graham Center for Collaborative Innovation Category
                    small.text-light The Graham Center for Collaborative Innovation is sponsoring a $500 prize for the group Hack that best illustrates the power and processes of collaborative thinking. That can be illustrated by:
                    ul.list-group.list-group-numbered
                        li.list-group-item A team of individuals that features--and takes into account--diverse disciplines, cultures, genders, etc in its work in ways that improve the product.
                        li.list-group-item A team that can best describe its collaborative processes, and how collaborations supported innovative ideas.
                        li.list-group-item A team who can describe what it learned by collaboration, and how that might affect their future work.
