body {
    background-color: #251e46;
    color: white;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Sora';
    transform: translate(-50%, -50%);
    color: white;
}


