html, body {
    /*background-color: #efebeb;*/
    /*background-image: linear-gradient(90deg, #8eb5da 0%, #1bb144 100%);*/

    /*need to chnage for dashboard*/
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    height: 100vh;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    font-family: Sora, sans-serif;
    position: relative;
    overflow-x: hidden;
    color: white;
    z-index: 0;
}

.insides{
    background: #323362;
}

/* ------NAVIGATION BAR------*/
.navbar {
    background: rgba(0, 0, 0, 0.14);
    padding: 10px;
}

.navbarLink.nav-link, .dropdown-toggle, .navbar-brand, .nav-link.dropdown-toggle {
    color: white;
}

.nav-link:hover {
    color: black;
    transition: 0.2s;
}

.dropdown-item {
    color: black;
}

.navbar-nav {
    right: 130px;
    position: relative;
}

/* ----- FOR MLH FLAG (theres probably a better way how to do this) ----- */
@media (min-width: 992px) {
    .dropdown-menu-lg-start[data-bs-popper] {
        left: -60px;
    }
}


hr {
    border-width: 0 0 1px;
    color: #ffffff;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), #86a3e3 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
    border-style: solid;
}

/* ------SCROLL BAR------ */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #e3f1e3;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*-----------------------*/

/* ------COOL NAV REPLACEMENT------ */
a.replaceText {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
}

a.replaceText::before,
a.replaceText::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

a.replaceText::before {
    background-color: #ffffff;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a.replaceText::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #ffffff;
}

a.replaceText:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

a.replaceText:hover::after {
    transform: translate3d(0, 0, 0);
}

a.replaceText span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a.replaceText:hover span {
    transform: translate3d(-200%, 0, 0);
}

a.replaceText {
    color: #ffffff;
    font-weight: 700;
    vertical-align: top;
}

#mobileHeader {
    display: none;
}

.link {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #1b53ce;
    padding: 4px .40rem;
    white-space: nowrap;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: white;
    cursor: pointer;
}


/* ------MOBILE VIEW------*/
@media (max-width: 700px) {
    .mlh-logo {
        right: 45%;
        position: relative;
    }

    .navbar-nav {
        right: 0;
    }

    #carouselExampleAutoplaying, .sponsorSection {
        display: none;
    }

    #mobileHeader {
        display: block;
    }

    #desktopHeader {
        display: none;
    }
}

